$mobil_base: 750;

@function vw($true) {
  @return ($true / $mobil_base) * 100vw;
}


img{
    height: 500px;
}

.swiper-button-next,.swiper-button-prev {width: 40px; height: 40px; border-radius: 50%; background:rgba(255,255,255,0.4); transition: all 0.1s;}
.swiper-button-prev {left: 40px;}
.swiper-button-next {right: 40px;}
.swiper-button-next:hover, .swiper-button-prev:hover {background:rgba(255,255,255,0.25)}
.swiper-button-next::after,.swiper-button-prev::after {font-size: 15px; } 
// .Banner .swiper-pagination-bullet {background: #000;opacity: 1;}
// .Banner .swiper-pagination-bullet-active {background: #ccc; box-shadow: 0  0 5px #fff; width: 10px; height: 10px; }
// .Banner .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {bottom: 15px;}


@media (max-width: 768px){
    img{
        height: vw(400)
    }
    
.swiper-button-next,.swiper-button-prev {width: vw(60); height: vw(60); border-radius: 50%; background:rgba(255,255,255,0.4); transition: all 0.1s;}
.swiper-button-prev {left: vw(40);}
.swiper-button-next {right: vw(40);}
.swiper-button-next:hover, .swiper-button-prev:hover {background:rgba(255,255,255,0.25)}
.swiper-button-next::after,.swiper-button-prev::after {font-size: vw(15); } 
}