$mobil_base: 768;

@function vw($true) {
  @return ($true / $mobil_base) * 100vw;
}
// $cor: #F67C1B;
html{color:#000;background:#FFF; box-sizing: border-box; word-break: break-word;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; box-sizing: border-box; }
html, body, #app, .home {width: 100%; height: 100%;}
body { background:#fff; color:#000; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal }
textarea {-webkit-appearance: none;}
img { border:none; display: block; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:16px Verdana,Helvetica,Arial,sans-serif }
table { border-collapse:collapse; }
.cur{cursor: pointer;}

.fx  { display: flex }
.fx1 { display: flex; align-items: center }
.fx2 { display: flex; align-items: center; justify-content: center }
.fx3 { display: flex; justify-content: center }
.fx4 { display: flex; align-items: center; justify-content: space-between }
.fx5 { display: flex; align-items: center; justify-content: space-around }
.fx6 { display: flex; justify-content: space-around }
.fx7 { display: flex; align-items: center; justify-content: center; flex-direction: row }
.fx8 { display: flex; align-items: center; justify-content: center; flex-direction: column }
.fx9 { display: flex; align-items: center; justify-content: space-between; flex-direction: row }
.fx10{ display: flex; align-items: center; flex-wrap: wrap }
.fx11{ display: flex; flex-wrap: wrap }
.fx12{ display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; }
.fx13{ display: flex; justify-content: space-between }

// !PC端
@media (min-width: 769px) {}

// !移动端
@media (max-width: 768px) {}

// banner轮播图
.Banner .swiper-pagination-bullet {background: #000;opacity: 1;width: 10px; height: 10px;}
.Banner .swiper-pagination-bullet-active {background: #ccc; box-shadow: 0  0 5px #fff; width: 10px; height: 10px; }
.Banner .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {bottom: 15px;}
// 头部导航
.header-pc .el-menu.el-menu--horizontal{
  border-bottom: none;
}
.header-pc .el-submenu__icon-arrow{
  right: 0 !important;
}
.header-pc .el-menu,
.header-pc .el-menu--horizontal>.el-menu-item:not(.is-disabled):focus, 
.header-pc .el-menu--horizontal>.el-menu-item:not(.is-disabled):hover, 
.header-pc .el-menu--horizontal>.el-submenu .el-submenu__title:hover,
.header-pc .el-menu-item:focus,
.header-pc .el-menu-item:hover {background: inherit !important; color: #F67C1B!important;}
.header-pc .el-menu-item:hover .el-submenu__title{
  color: #F67C1B !important;
  border: inherit;
}
.header-pc .el-menu .el-submenu__title .el-menu-item:hover{
  color: #F67C1B !important;
}

.header-pc .el-submenu__title:hover{
  background-color: #fff !important;
}
.header-pc .el-submenu__title .el-menu-item:hover{
  background: inherit !important;
}